# Ignore SQLite database
expenses.db

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
